<form (ngSubmit)="submit()" #customerForm="ngForm" class="customer-form" novalidate>
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" name="firstName" [(ngModel)]="customer.firstName" #firstName="ngModel" required>
    <div class="alert alert-danger" [hidden]="firstName.pristine || firstName.valid">First Name is required</div>
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" name="lastName" [(ngModel)]="customer.lastName" #lastName="ngModel">

  </div>
  <div class="form-group">
    <label>Mobile</label>
    <input type="number" class="form-control" name="mobile" [(ngModel)]="customer.mobile" #mobile="ngModel" required>
    <div class="alert alert-danger" [hidden]="mobile.pristine || mobile.valid">Mobile is required</div>
  </div>
  <div class="form-group">
    <label>Gender</label><br>
    <!--<input type="text" class="form-control" name="gender" [(ngModel)]="customer.gender" #gender="ngModel" required>-->
    <div>
      <label>
        <input type="radio" class="form-control radio" name="gender" [(ngModel)]="customer.gender" #gender="ngModel" required value="Male"> Male &nbsp;&nbsp;&nbsp;
      </label>
      <label>
        <input type="radio" class="form-control radio" name="gender" [(ngModel)]="customer.gender" #gender="ngModel" required value="Female"> Female
      </label>
    </div>
    <div class="alert alert-danger" [hidden]="gender.pristine || gender.valid">Gender is required</div>
  </div>

  <div class="pull-right">
    <button class="btn btn-default" (click)="cancel($event)">Cancel</button>&nbsp;&nbsp;
    <button type="submit" class="btn btn-success" [disabled]="customerForm.pristine || !customerForm.valid">Insert</button>
  </div>
